body{
	background-color: ghostwhite;
}

a{
	color: slategray;
	text-decoration: none;
}

a:hover{
	color: red;
}

h3.somos{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 100px;
	margin: 0px;
	margin-top: 100px;
	margin-left: 100px;
	letter-spacing: -5px;
	color: darkslategrey;
}

h3.champion{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 100px;
	color: darkslategrey;
	margin: 0px;
	margin-left: 100px;
	margin-bottom: 60px;
	letter-spacing: -5px;
}

h2{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 80px;
	color: darkslategrey;
	margin: 0px;
	margin-left: 100px;
	letter-spacing: -5px;
}

.headerHome{
	display: grid;
	grid-template-areas: 
	"somos logo"
	"champion champion";
	grid-template-columns: 50%% 50%;
	grid-template-rows: 200px auto;
}

.somos{
	grid-area: somos;
}

.champion{
	grid-area: champion;
}

.logo{
	grid-area: logo;
	margin-top: 100px;
	justify-self: flex-end;
	margin-right: 100px;
}

.footerHome{
	height: 200px;
	background-color: darkslategray;
	margin: 0px;
	padding: 0px;
}

h4{
	font-family: 'Josefin Sans', sans-serif;
	color: whitesmoke;
	font-size: 25px;
	text-align: center;
}


.footerHome{
	display: grid;
	grid-template-areas: 
	"seguinos"
	"logos";
	grid-template-columns: 100%;
	grid-auto-rows: 100px 50px;
}

.seguinos{
	grid-area: seguinos;
	margin-top: 50px;
	margin-bottom: 0px;
}

.logos{
	grid-area: logos;
}

.logos{
	display: flex;
	flex-direction: row;
	justify-content: safe center;
}

.wapp{
	padding-right: 10px;
}

.instagram{
	padding-right: 10px;
}