body{
	background-color: whitesmoke;
}

a{
	color: lightgrey;
	text-decoration: none;
}

a:hover{
	color: red;
}

h3.somos{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 100px;
	margin: 0px;
	margin-top: 100px;
	margin-left: 100px;
	letter-spacing: -5px;
}

h3.champion{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 100px;
	color: darkgrey;
	margin: 0px;
	margin-left: 100px;
	margin-bottom: 60px;
	letter-spacing: -5px;
}

h2{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 80px;
	color: dimgrey;
	margin: 0px;
	margin-left: 100px;
	letter-spacing: -5px;

}

.headerHome{
	display: grid;
	grid-template-areas: 
	"somos logo"
	"champion champion";
	grid-template-columns: 50%% 50%;
	grid-template-rows: 200px auto;
}

.somos{
	grid-area: somos;
}

.champion{
	grid-area: champion;
}

.logo{
	grid-area: logo;
	margin-top: 100px;
	justify-self: flex-end;
	margin-right: 100px;
}



